.cardLink {
  text-decoration: none;
}

.newsCard {
  border: 1px solid #c8c8ca;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newsCard:hover {
  transition: all 0.4s ease;
  transform: translateY(-3px);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 2;
  padding-left: 10px;
}

.cardTitle {
  font-weight: bold;
  font-size: 18px;
}

.cardDate {
  display: flex;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .newsCard {
    flex-direction: column;
  }
}
